.div-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #17B0DE;
    color: white;
    text-align: center;
    height: 100vh;
}

#iconeCorra {
    max-width: 80%; 
    height: auto; 
}

.h3_Titulo {
    font-size: 28px;
    margin-top: 20px; 
}

.p_descricao {
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
}

.h4_ComoJogar{
    margin-top: 30px;
    margin-bottom: 20px; 
}

button {
    width: 100%;
    max-width: 300px;
    background-color: #F59D15;
    border: none;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
    max-width: 300px;
    margin-top: 20px; 
}


@media (max-width: 600px) {
    .p_descricao {
        margin-top: 20px;
        font-size: 13   px;
        max-width: 1000px;
    }
}